body{ 
    font-family: 'Lato', sans-serif;
}
.testimonial-area {
    background: #000000;
  }
  .testimonial-list p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 55px;
  }
  .testimonial-list { color: #fff }
  .testimonial-list .client-name {
      font-size: 14px;
      margin-bottom: 13px;
  }
  .testimonial-list .client-title { font-size: 13px }
  .testimonial-control {
      color: #fff;
      font-size: 35px;
      left: 45%;
      opacity: 0.5;
      filter: alpha(opacity=50);
      position: absolute;
      z-index: 99;
  }
  .testimonial-control.right {
      left: auto;
      right: 45%;
  }
  .testimonial-control:hover,
  .testimonial-control:focus {
      color: #fff;
      opacity: 1;
      filter: alpha(opacity=100);
  }
  .testimonial-area.area-padding { padding: 50px 0 }